/* Album cover arts
/* ========================================================= */
.album.joshgarrels .art {
    background: #444 url(../images/albums/art/joshgarrels.jpg) center center;
    background-size: cover;
}

.album.albertacross .art {
    background: #444 url(../images/albums/art/albertacross.jpg) center center;
    background-size: cover;
}

.album.thesaintjohns .art {
    background: #444 url(../images/albums/art/thesaintjohns.jpg) center center;
    background-size: cover;
}

.album.saintseneca .art {
    background: #444 url(../images/albums/art/saintseneca.jpg) center center;
    background-size: cover;
}

.album.shayleesimeone .art {
    background: #444 url(../images/albums/art/shayleesimeone.jpg) center center;
    background-size: cover;
}

.album.patmcgee .art {
    background: #444 url(../images/albums/art/patmcgee.jpg) center center;
    background-size: cover;
}

.album.greatmutations .art {
    background: #444 url(../images/albums/art/greatmutations.jpg) center center;
    background-size: cover;
}

.album.robyncage .art {
    background: #444 url(../images/albums/art/robyncage.jpg) center center;
    background-size: cover;
}

.album.alexon .art {
    background: #444 url(../images/albums/art/alexon.jpg) center center;
    background-size: cover;
}

.album.truenorthrecords .art {
    background: #444 url(../images/albums/art/truenorthrecords.jpg) center center;
    background-size: cover;
}

.album.heathmcnease .art {
    background: #444 url(../images/albums/art/heathmcnease.jpg) center center;
    background-size: cover;
}

.album.mitchfroemming .art {
    background: #444 url(../images/albums/art/mitchfroemming.jpg) center center;
    background-size: cover;
}

.album.wildchild .art {
    background: #444 url(../images/albums/art/wildchild.jpg) center center;
    background-size: cover;
}

.album.aaronparker .art {
    background: #444 url(../images/albums/art/aaronparker.jpg) center center;
    background-size: cover;
}

.album.camiloseptimo .art {
    background: #444 url(../images/albums/art/camiloseptimo.jpg) center center;
    background-size: cover;
}

.album.riversrobots .art {
    background: #444 url(../images/albums/art/riversrobots.jpg) center center;
    background-size: cover;
}

.album.dawnandhawkes .art {
    background: #444 url(../images/albums/art/dawnandhawkes.jpg) center center;
    background-size: cover;
}

.album.sunshinecollective .art {
    background: #444 url(../images/albums/art/sunshinecollective.jpg) center center;
    background-size: cover;
}

.album.joeymaloney .art {
    background: #444 url(../images/albums/art/joeymaloney.jpg) center center;
    background-size: cover;
}

.album.socialclub .art {
    background: #444 url(../images/albums/art/socialclub.jpg) center center;
    background-size: cover;
}

.album.theeasternsea .art {
    background: #444 url(../images/albums/art/theeasternsea.jpg) center center;
    background-size: cover;
}

.album.whitemorning .art {
    background: #444 url(../images/albums/art/whitemorning.jpg) center center;
    background-size: cover;
}

.album.caliconscious .art {
    background: #444 url(../images/albums/art/caliconscious.jpg) center center;
    background-size: cover;
}

.album.levv .art {
    background: #444 url(../images/albums/art/levv.jpg) center center;
    background-size: cover;
}

.album.annajohnson .art {
    background: #444 url(../images/albums/art/annajohnson.jpg) center center;
    background-size: cover;
}

.album.resonatechurch .art {
    background: #444 url(../images/albums/art/resonatechurch.jpg) center center;
    background-size: cover;
}

.album.singlove .art {
    background: #444 url(../images/albums/art/singlove.jpg) center center;
    background-size: cover;
}

.album.tstrike .art {
    background: #444 url(../images/albums/art/tstrike.jpg) center center;
    background-size: cover;
}

.album.lowroar .art {
    background: #444 url(../images/albums/art/lowroar.jpg) center center;
    background-size: cover;
}

.album.seekerandservant .art {
    background: #444 url(../images/albums/art/seekerandservant.jpg) center center;
    background-size: cover;
}